body {
    background-image: url("assets/images/chickensR4ever.jpg");
}

.main-container {
    background: #f5eded;
    width: 980px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    top: 0px;
    text-align: center;
    opacity: 0.85;
}

#timer {
    font-size: 22px;
    padding: 15px;
}

form,
#results {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
line-height: 0;
padding-top: 15px;
}

#results {
    padding: 20px;
}

#finish-game {
    margin-top: 15px;
}